<form {{action "save" on="submit"}}>
  <p><label for=""></label></p>
  <p><label for=""></label></p>
  <p><label for=""></label></p>
  <p><label for=""></label></p>
  <input type="submit" value="Save"/>
  <button {{action "cancel"}}>Cancel</button>
</form>
